.cart_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #990d35;
}

.cart_item__info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  justify-items: start;
}

.cart_item__name {
  grid-column: 1/-1;
  font-size: 1.8rem;
  font-weight: 700;
}
.cart_item__price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #990d35;
}
.cart_item__amount {
  border: 1px solid grey;
  padding: 0 0.8rem;
}

.cart_item__btn_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart_item__btn {
  border-radius: 4px;
  border: 1px solid #db9706;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.1rem 1rem;
}

.cart_item__btn:hover {
  background-color: #f9efdb;
}

/* below widht:640px */
@media (max-width: 40em) {
  .cart_item {
    width: 35rem;
  }
}
/* below widht:480px */
@media (max-width: 30em) {
  .cart_item {
    width: 25rem;
  }
}
