.intro {
  background-color: #e6dfd1;
  max-width: 52rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 1;
  margin-bottom: 10rem;
}

.intro__title {
  margin-bottom: 2.4rem;
}

.intro__description-box {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* below widht:832px */
@media (max-width: 52em) {
  .intro {
    max-width: 37rem;
  }
}

/* below widht:432px */
@media (max-width: 27em) {
  .intro {
    text-align: start;
    line-height: 1.6;
  }
  .intro__title {
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    letter-spacing: -1px;
    line-height: 1;
  }
}
