.meal {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #f2bac2;
  width: 70rem;
  padding: 1.2rem 2.4rem;
}

.meal__info {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.meal__name {
  font-weight: 700;
}

.meal__description {
  font-style: italic;
}

.meal__price {
  font-weight: 900;
  color: #990d35;
}

.meal__order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  justify-items: end;
  column-gap: 0.2rem;
}

.btn__add {
  grid-column: 1/-1;
  padding: 0.5rem 2rem;
}
/* below widh:1152px */
@media (max-width: 72em) {
  .meal {
    width: 55rem;
  }
}

/* below widh:976px */
@media (max-width: 61em) {
  .meal {
    width: 40rem;
  }
}

/* below width 592px */
@media (max-width: 37em) {
  .meal {
    width: 30rem;
  }
}

/* below width 304px */
@media (max-width: 19em) {
  .meal {
    width: 25rem;
    padding: 1.2rem 0;
  }
}

/* above height 688px */
@media (min-height: 43em) {
  html {
    font-size: 70%;
  }

  .meal__info {
    line-height: 1.6;
  }
}
