:global(.modal) {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  overflow: hidden;
}
.container__modal_list {
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
  padding: 4rem 4rem 2rem 4rem;
  overflow-y: scroll;
}

.container__modal_list::-webkit-scrollbar {
  width: 1rem;
}

.container__modal_list::-webkit-scrollbar-thumb {
  background-color: #990d35;
  border-radius: 3px;
}

.container__modal_list::-webkit-scrollbar-track-piece {
  margin: 3rem 0;
}

.cart_total {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 700;
}

.modal__btn_box {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn__modal {
  padding: 0.5rem 2rem;
}

:global(.btn__modal_close) {
  border: 1px solid #db9706;
  background-color: #fff;
}

.empty_cart__message {
  font-size: 2rem;
  font-weight: 500;
}

:global(.btn__modal_close):hover {
  background-color: #f9efdb;
}

/* below widht:640px */
@media (max-width: 40em) {
  .container__modal_list {
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    padding: 4rem 4rem 2rem 4rem;
    overflow-y: scroll;
  }
}

/* below widht:416px */
@media (max-width: 26em) {
  .container__modal_list {
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    padding: 4rem 2rem 2rem 2rem;
    overflow-y: scroll;
  }
}
