.card {
  /* height: 100%; */
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}

/* below width 800px */
@media (max-width: 50em) {
  .card {
    padding: 2rem 1rem;
  }
}
/* below width 592px */
@media (max-width: 37em) {
  .card {
    padding: 2rem 1rem;
  }
}
